/* Global styles */
button {
  background: none;
  border: none;
  cursor: pointer;
}
body {
  margin-bottom: 54px;
}

/* components styles */

.info-header {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}
.info-header__title {
  color: #000;

  /* 18 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}
.user-img {
  border-radius: 100%;
}
.user-info__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-info {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 16px;
  border-bottom: 4px solid #eeeeee;
}
.user-info__profile {
  display: flex;
  gap: 16px;
}
.user-info__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-info__name {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
.user-info__address {
  color: #8c8c8c;

  /* 12 */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.user-pay {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
  border: 1px dashed #ff7e36;
}
.user-pay__title {
  color: #ff7e36;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
}
.user-pay__content {
  color: #5e5e5e;

  /* 12 */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.user-history {
  display: flex;
  padding: 0px 16px;
  justify-content: space-around;
}
.user-history__sales,
.user-history__purchase,
.user-history__interest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.history-back {
  width: 56px;
  height: 56px;
  background-color: #ffebe0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.history-img {
  width: 24px;
  height: 24px;
}

.history-content {
  color: #000;

  /* 12 */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.my-activity {
  display: flex;
  padding: 8px 0;
  flex-direction: column;
  border-bottom: 4px solid #eeeeee;
}
.my-activity__title {
  padding: 10px 16px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
.my-activity__content {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 10px 16px;

  color: #000;

  /* 16 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.my-neighbor {
  display: flex;
  padding: 8px 0;
  flex-direction: column;
}
.my-neighbor__title {
  padding: 12px 16px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
.my-neighbor__content {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 10px 16px;

  color: #000;

  /* 16 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.menu {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  border-top: 1px solid #d9d9d9;
}
.menu-option {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}
