/* 기본 초기화 */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    max-width: 420px;
    color: #000; 
    padding-bottom: 70px;
    margin: 10px auto;
}
.app-container {
  max-width: 420px;
  margin: 50px auto; /* 가운데 정렬 */
  padding-bottom: 70px;
  background-color: #fff; /* 앱 안쪽은 하얀색으로! */
  position: relative; /* 아까 배운 절대위치의 기준점! */
  min-height: 100vh; /* 게시글이 없어도 껍데기 높이를 화면 꽉 차게 유지 */
}

button { 
    background: none; 
    border: none; 
    cursor: pointer; 
}

