body {
  max-width: 390px;
  margin: 0 auto;
  font-family: Inter, sans-serif;
}

button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.region-header__region {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.region-header__icons {
  display: flex;
  gap: 16px;
}

.post-list__category {
  padding: 12px 16px;
  display: flex;
  gap: 8px;

  overflow-x: auto;
  white-space: nowrap;
}

.post-list__category::-webkit-scrollbar {
  display: none;
}

.post-list__category-btn {
  padding: 8px 12px;
  border-radius: 100px;
  border: 1px solid #eeeeee;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.banner {
  padding: 16px 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 4px solid #eeeeee;
}

.banner__content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.banner__title {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.banner__desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #5e5e5e;
}

/* 메인 섹션 */

.post {
  padding: 16px;
  border-bottom: 4px solid #eeeeee;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post__tag p {
  background-color: #eeeeee;
  padding: 3px 6px;
  border-radius: 4px;
  display: inline-block;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
}

.post__header-wrapper {
  display: flex;
  gap: 4px;
}

.post__header-status {
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ff7e36;
}
.post__header-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.post__header-summary {
  color: #8c8c8c;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.post__meta {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.post__meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}

.post__footer-left {
  display: flex;
  gap: 4px;
  align-items: center;
}

.post__comment {
  display: flex;
  gap: 16px;
  border-top: 1px solid #eeeeee;
  padding-top: 12px;
}

.post__comment-item {
  display: flex;
  gap: 4px;
  color: #5e5e5e;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.post__gallery {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  overflow: hidden;
  border-radius: 4px;
}

.wallet-img1 {
  width: 223.2px;
  height: 180px;
}

.wallet-img2 {
  width: 180px;
  height: 180px;
}

.post__place {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.post__place-content {
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.post__place-icon {
  position: relative;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.post__place-icon img {
  position: relative;
  z-index: 3;
  width: 33px;
  height: 33px;
  display: block;
}

.post__place-deco {
  position: absolute;
  width: 33px;
  height: 33px;
  background-color: #f6f6f6;
  transform: rotate(-16.3deg);
  z-index: 1;
}

/* 좌상 */
.post__place-deco--1 {
  top: -8px;
  left: -14px;
}

/* 우상 */
.post__place-deco--2 {
  top: -14px;
  right: -8px;
}

/* 좌하 */
.post__place-deco--3 {
  bottom: -12px;
  left: -6px;
}

/* 우하 */
.post__place-deco--4 {
  bottom: -6px;
  right: -14px;
}
.post__place-title {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.post__place-address {
  color: #8c8c8c;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 390px;
  display: flex;
  padding: 8px 0;
  align-items: flex-start;
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
}

.bottom-bar__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
}

.bottom-bar__btn span {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.post-list {
  padding-bottom: 90px;
}
